.icon-clear-day {
      width: 116px;
      height: 116px;
      background: url("../imgs/weather_icons.png") 0px -232px;
      background-size: 580px 696px; }

      .icon-clear-night {
      width: 116px;
      height: 116px;
      background: url("../imgs/weather_icons.png") -464px -464px;
      background-size: 580px 696px; }

      .icon-rain {
      width: 116px;
      height: 116px;
      background: url("../imgs/weather_icons.png") -464px -348px;
      background-size: 580px 696px; }

      .icon-snow {
      width: 116px;
      height: 116px;
      background: url("../imgs/weather_icons.png") -348px 0px;
      background-size: 580px 696px; }

      .icon-sleet {
      width: 116px;
      height: 116px;
      background: url("../imgs/weather_icons.png") -464px -116px;
      background-size: 580px 696px; }

      .icon-wind {
      width: 116px;
      height: 116px;
      background: url("../imgs/weather_icons.png") -232px -232px;
      background-size: 580px 696px; }

      .icon-fog {
      width: 116px;
      height: 116px;
      background: url("../imgs/weather_icons.png") -116px -348px;
      background-size: 580px 696px; }

      .icon-cloudy {
      width: 116px;
      height: 116px;
      background: url("../imgs/weather_icons.png") -348px -232px;
      background-size: 580px 696px; }

      .icon-partly-cloudy-day {
      width: 116px;
      height: 116px;
      background: url("../imgs/weather_icons.png") -116px -232px;
      background-size: 580px 696px; }

      .icon-partly-cloudy-night {
      width: 116px;
      height: 116px;
      background: url("../imgs/weather_icons.png") -116px -580px;
      background-size: 580px 696px; }

      
.icon-sm-clear-day {
      width: 37px;
      height: 37px;
      background: url("../imgs/weather_icons.png") 0px -74px;
      background-size: 185.00000000000003px 222px; }

      .icon-sm-clear-night {
      width: 37px;
      height: 37px;
      background: url("../imgs/weather_icons.png") -148px -148px;
      background-size: 185.00000000000003px 222px; }

      .icon-sm-rain {
      width: 37px;
      height: 37px;
      background: url("../imgs/weather_icons.png") -148px -111px;
      background-size: 185.00000000000003px 222px; }

      .icon-sm-snow {
      width: 37px;
      height: 37px;
      background: url("../imgs/weather_icons.png") -111px 0px;
      background-size: 185.00000000000003px 222px; }

      .icon-sm-sleet {
      width: 37px;
      height: 37px;
      background: url("../imgs/weather_icons.png") -148px -37px;
      background-size: 185.00000000000003px 222px; }

      .icon-sm-wind {
      width: 37px;
      height: 37px;
      background: url("../imgs/weather_icons.png") -74px -74px;
      background-size: 185.00000000000003px 222px; }

      .icon-sm-fog {
      width: 37px;
      height: 37px;
      background: url("../imgs/weather_icons.png") -37px -111px;
      background-size: 185.00000000000003px 222px; }

      .icon-sm-cloudy {
      width: 37px;
      height: 37px;
      background: url("../imgs/weather_icons.png") -111px -74px;
      background-size: 185.00000000000003px 222px; }

      .icon-sm-partly-cloudy-day {
      width: 37px;
      height: 37px;
      background: url("../imgs/weather_icons.png") -37px -74px;
      background-size: 185.00000000000003px 222px; }

      .icon-sm-partly-cloudy-night {
      width: 37px;
      height: 37px;
      background: url("../imgs/weather_icons.png") -37px -185px;
      background-size: 185.00000000000003px 222px; }

      
